@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AUTH-MVC</h1>
    @if (Session["FullName"] != null)
    {
        <p class="lead">
            Welcome @Session["FullName"].ToString()
        </p>
    }
    else
    { 
        <p class="lead">
           Please login to continue
        </p>
    }

  
</div>
